* {
	font-family: Arial;
}

body {
	margin: 0;
	padding: 0;
}
header {
	height: 50px;
	background-color: #353535;
}
.topo-interior {
	width: 1000px;
	margin: auto;
	color: #FFFFFF;
}
.logomarca {
	float: left;
	font-size: 24px;
	line-height: 50px;
}
.menu {
	float: right;
}
.menu ul,
.menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	float: left;
	padding-left: 10px;
	padding: 10px;
	line-height: 30px;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
}
.menu li:hover {
	background-color: #3480C1;
}
.banner {
	height: 300px;
	background-color: #347ABA;
}
.banner-interior {
	width: 1000px;
	margin: auto;
}
.banner-esquerda {
	float: left;
}
.banner-direita {
	float: right;
}
.banner-direita img {
	margin-right: 55px;
}
.frase-efeito {
	font-size: 48px;
	color: #FFFFFF;
	margin-top: 60px;
}
.sub-frase {
	font-size: 20px;
	color: #FFFFFF;
}
.efeito {
	text-transform: uppercase;
}
.botao-banner {
	background-color: #FFC001;
	width: 282px;
	height: 56px;
	font-size: 20px;
	border-radius: 5px;
	text-align: center;
	line-height: 56px;
	margin-top: 20px;
	cursor:pointer;
}
.conteudo-interior {
	width: 1000px;
	margin: auto;
}
.outros-produtos {
	height: 90px;
	font-size: 20px;
	text-align: center;
	line-height: 90px;
	clear: right;
}
.fotos img {
	margin-left: 10px;
	margin-right: 10px;
}
footer {
	background-color: #347ABA;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #FFFFFF;
	margin-top: 40px;
}